
<ul>
    <li ng-repeat="department in departments" class="well">
        Department name: {{department.name}}
        Department description: {{department.description}}
        <div class="pull-right">
            <a href="#/employees/{{department.id}}" class="btn btn-primary" ng-click="selectDepartment(department.id)">Show employees</a>
            <button class="btn btn-danger" ng-click="deleteDepartment(department.id)">Delete</button>
        </div>
    </li>
</ul>

<div ng-if="addDepartmentInputs" class="well addepartment">
    <form class="form-inline" ng-submit="addDepartment(newDepartment.name, newDepartment.description)">
        <div class="form-group">
            <label for="name">Department name:</label>
            <input type="text" class="form-control" ng-model="newDepartment.name">
        </div>
        <div class="form-group">
            <label for="description">Department description:</label>
            <input type="text" class="form-control" ng-model="newDepartment.description">
        </div>
        <button type="submit" class="btn btn-success">Add department</button>
        <button type="button" class="btn btn-danger" ng-click="showAddDepartmentInputs()">CANCEL</button>
    </form>
</div>

<div ng-if="!addDepartmentInputs" class="addepartment">
    <button ng-click="showAddDepartmentInputs()" class="btn btn-success">Add Department</button>
</div>